.PrisonsWikiContainer {
    border: 3px solid black;
    height: auto;
}

.SidebarContainer {
    height: auto;
    position: sticky;
    max-width: 20vw; 
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    overflow: hidden;
    transform: translateX(-80%);  
}

.SidebarContainer.hidden {
    transform: translateX(0);  
}

.SidebarArrow {
    color: white;
    font-size: 36px;
    transition: transform 0.5s ease-in-out; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.SidebarArrow.spin {
    transform: rotate(-180deg);  
}

.SidebarWords {
    display: flex;
    flex-direction: column;
    color: white;
}

.SidebarItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
}

.SidebarIcon {
    font-size: 24px;
    margin-right: 10px;
    color: white;
}

.SidebarWords h1 {
    font-size: 18px;
    margin: 0;
    color: white;
    text-align: left;
}

.Arrow {
    margin: 20px;
}
