.WikiContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    height: 100vh;
    background-color: #1c1b2a;
    border: 3px solid green;
}

.BoxContainer {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WikiBoxes {
    background-color: #2d2c3b;
    padding: 20px;
    margin: 15px auto;
    border: 3px solid red;
    border-radius: 8px;
    text-align: center;
    color: #f0f0f0;
}
