.NavbarContainer {
  position: relative;
  padding: 10px 20px;
  background-color: transparent;
  transition: all 0.3s ease;
  justify-content: space-evenly;
  z-index: 1000;
  padding-bottom: 20px;
  height: 100px;
}

.NavbarSpacer {
  height: 100px;
}

.NavbarContainer.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(29, 16, 39, 0.85);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  height: 100px;
}

.NavRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.SmallLogo {
  height: 70px;
  margin-right: 40px;
  border-radius: 35px;
  cursor: pointer;
}

.NavTitle {
  text-align: center;
  color: white;
  flex-grow: 1;
}

.NavButtonCol {
  display: flex;
  justify-content: flex-end;
}

.NavButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.NavButton {
  margin-left: 10px;
  margin-top: 15px;
  background-color: black;
  border: 1px solid grey;
  max-height: 40px;
}

.NavButton:hover {
  border: 1px solid grey;
  background-color: grey;
}

.HamburgerIcon {
  display: none;
}

.HamburgerContainer {
  display: none;
}

.HamburgerIcon {
  display: flex;
  color: white;
  font-size: 40px;
  border-radius: 3px;
  cursor: pointer;
}

.CloseIcon {
  position: sticky;
  top: 20px;
  right: 20px;
}

.Sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(29, 16, 39, 0.95);
  transition: all 0.3s ease;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}

.Sidebar.open {
  right: 0;
}

.SidebarItem {
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.SidebarItem:hover {
  transform: translateX(-10px);
}

.SidebarIcon {
  margin-right: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.X {
  color: white;
  font-size: 36px;
  cursor: pointer;
  top: 0px;
}

@media (max-width: 1160px) {
  .NavButtonContainer {
    display: none;
  }

  .HamburgerContainer {
    display: flex;
    align-items: center;
    justify-content: right;
  }
}

@media (min-width: 1160px) {
  .HamburgerContainer {
    display: none;
  }

  .NavButtonContainer {
    display: flex;
  }
}
