.SignInNavButton {
    margin-left: 10px;
    margin-top: 15px;
    background-color: #e03a7f;
    border: 1px solid grey;
    cursor: pointer;
    max-height: 40px;
}

.SignInNavButton:hover {
    border: 1px solid grey;
    background-color: grey;
}

@media (max-Width: 1305px) {
    .SignInNavButton {
        font-size: 0.9rem;
    }
}

@media (max-Width: 1225px) {
    .SignInNavButton {
        font-size: 0.8rem;
    }
}

