.PrisonsWikiContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.SidebarContainer {
    display: flex;
    flex-direction: column;
    width: 60px;
    border: 3px solid red;
    height: 100vh;
    align-items: left;
}

.WikiHamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding-left: 10px;
    margin-bottom: 10px;
}

.SidebarContainer.Active {
    width: 250px;
}

.WikiSidebarItem h1 {
    display: none;
}

.WikiSidebarItem h1.Active {
    display: block;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 10px;
}

.WikiSidebarItem {
    display: flex;
    flex-direction: row;
    cursor: pointer;  
    width: 100%;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;

}

.WikiSidebarItem svg {
    color: white;
    height: 25px;
    width: 25px;  
    margin-top: 10px;
    transform: translateY(-5px);
}

.WikiSidebarItem:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.WikiArrow {
    display: none;
}

.WikiArrow.Active {
    display: block;
    margin-left: auto;
    margin-right: 10px;
}

.WikiSubItem {
    display: none;
}

.WikiSubItem.Active {
    display: block;
    background: #1D1D1D;
}

.WikiSubItemText:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.WikiSubItemText {
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
    cursor: pointer;
}

.WikiSubItem h1 {
    font-size: 18px;
    color: white;
    margin: 0;
}





/* Content Styles */

.ContentContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;  */
    border: 3px solid blue;
    width: 100%;
    text-decoration: underline;
    height: 1000vh;
}