.RulesContainer {
    width: auto;
    min-height: 64vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    gap: 50px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.RulesSideMenu {
    background-color: #101010;
    border-radius: 10px;
    width: 350px;
    max-height: 370px;
    min-height: 275px;
    min-width: 285px;
}

.RulesHolder {
    width: 1020px;
    background-color: #101010;
    border-radius: 10px;
}

.SidebarMenuName {
    color: #ff55ff;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 25px;
}

.IconRow {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.IconRow:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.SidebarNavigationTabs {
    display: flex;
    align-items: center;
}
.SidebarNavigationTabs.Active {
    color: #ff55ff;
    transition: color 0.3s ease-in ;
}

.IconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.IconActive {
    color: #ff55ff;
    border-bottom: 3px solid #ff55ff;
    padding-bottom: 5px;
    transition: color 0.3s ease-in ;
}

@media screen and (max-width: 1025px) {
    .RulesContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .RulesHolder {
        width: 90vw;
    }

    .IconRow {
        margin-bottom: 3px;
    }
}