.RulesSidebarContainer {
    border: 3px solid blue;
    height: 90vh;
}

.SidebarContainer {
    border: 3px solid green;
    width: 3vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SidebarContainer.large {
    width: 20vw;
}

.RulesIcon {
    display: flex;
    flex-direction: row;
    /* margin-top: 100px; */
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0;
}

.RulesIconContainer {
    margin-top: 300px;
    align-items: center;
    justify-content: center;
}